@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Mrs Eaves";
  src: local("Mrs Eaves Italic"), local("/fonts/Mrs-Eaves-Italic"), url("/fonts/MrsEavesItalic.woff2") format("woff2"), url("/fonts/MrsEavesItalic.woff") format("woff"), url("/fonts/MrsEavesItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/*-----------------------------------------------------------------*/
.container {
  max-width: 1000px;
  margin: 0px auto;
}

.ibg {
  position: relative;
}
.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
.header {
  position: relative;
}
.header__container {
  padding: 65px 10px 0 10px;
  height: 490px;
  position: relative;
  z-index: 5;
}
@media (max-width: 800px) {
  .header__container {
    padding-top: 35px;
  }
}
@media (max-width: 800px) {
  .header__container {
    height: inherit;
  }
}
.header__head {
  margin: 0 0 90px 0;
}
@media (max-width: 800px) {
  .header__head {
    margin: 50px;
  }
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 870px;
}
@media (max-width: 800px) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 430px) {
  .header__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 430px) {
  .header__img img {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 800px) {
  .header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__title {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 65px;
  font-weight: 300;
}
@media (max-width: 800px) {
  .header__title {
    text-align: left;
  }
}
@media (max-width: 430px) {
  .header__title {
    font-size: 42px;
  }
}
.header__subtitle {
  color: #ffffff;
  font-size: 45px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
  margin: 0 0 30px 0;
}
@media (max-width: 800px) {
  .header__subtitle {
    margin: 0 0 20px 0;
  }
}
@media (max-width: 430px) {
  .header__subtitle {
    font-size: 30px;
    text-align: center;
  }
}
.header__button {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 23px;
  font-weight: 300;
  padding: 8px 15px;
  background-color: #1c6442;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.header__button:active {
  background-color: #2a523f;
}
.header__button:hover {
  background-color: #24573f;
}
@media (max-width: 800px) {
  .header__button {
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 0 20px 0;
  }
}
.header__ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.header__arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -150px;
  top: 250px;
}
@media (max-width: 1315px) {
  .header__arrows {
    left: -70px;
  }
}
.header__arrow1 {
  margin: 0 1200px 0 0;
}
@media (max-width: 1315px) {
  .header__arrow1 {
    margin: 0 1020px 0 0;
  }
}
.head__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 800px) {
  .head__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.head__logo {
  opacity: 0.68;
  color: #ffffff;
  font-family: "Mrs Eaves";
  font-size: 119px;
  font-weight: 400;
  line-height: 28%;
  font-style: italic;
}
@media (max-width: 800px) {
  .head__logo {
    margin: 0 0 50px 0;
  }
}
.head__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}
@media (max-width: 800px) {
  .head__row {
    width: 400px;
  }
}
@media (max-width: 430px) {
  .head__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
.head__unit {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 300;
}
.head__unit:active {
  color: #969696;
}
.options__container {
  min-height: 330px;
  padding: 60px 10px 0 10px;
}
.options__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 995px) {
  .options__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.options__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 60px 15px 50px;
}
.options__option:first-child {
  padding-left: 30px;
}
@media (max-width: 493px) {
  .options__option:first-child {
    padding-left: 60px;
  }
}
@media (max-width: 995px) {
  .options__option:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.options__option:last-child {
  padding-right: 30px;
}
@media (max-width: 493px) {
  .options__option:last-child {
    padding-right: 60px;
  }
}
@media (max-width: 995px) {
  .options__option:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 995px) {
  .options__option:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 10px;
  }
}
@media (max-width: 995px) and (max-width: 995px) {
  .options__option:nth-child(2) {
    border-bottom: 2px solid #e4e4e4;
  }
}
@media (max-width: 995px) {
  .options__option:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.options__option:not(:nth-child(2)) {
  border-bottom: 2px solid #e4e4e4;
}
@media (max-width: 995px) {
  .options__option:not(:nth-child(2)) {
    border-bottom: 0px;
  }
}
.options__img {
  margin: 0 0 18px 0;
}
@media (max-width: 552px) {
  .options__img img {
    height: 90%;
  }
}
.options__text {
  color: #676666;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 27px;
  font-weight: 300;
  text-align: center;
  line-height: 110%;
  white-space: nowrap;
  max-width: 300px;
}
.options__text span {
  font-size: 23px;
  text-align: center;
}
.options__selected {
  border-top: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;
  border-left: 2px solid #e4e4e4;
}
.options__selected-text {
  font-weight: 400;
}

.description__container {
  padding: 0 10px;
}
.description__body {
  border-bottom: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;
  border-left: 2px solid #e4e4e4;
}
.description__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 0 0;
  margin: 0 0 10px 0;
}
@media (max-width: 768px) {
  .description__img img {
    width: 80%;
    height: 80%;
  }
}
.description__titlecenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -260px;
}
@media (max-width: 906px) {
  .description__titlecenter {
    margin-left: 9px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.description__title {
  color: #4f4f4f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 39px;
  font-weight: 100;
  margin: 10px 0 25px 0;
}
.description__maintext {
  color: #818181;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  max-width: 850px;
  margin: 0 10px 60px 10px;
}
@media (max-width: 552px) {
  .description__maintext {
    font-size: 22px;
    margin-bottom: 40px;
  }
}
.description__maintextcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reasons__container {
  min-height: 390px;
  padding: 0 10px;
}
.reasons__row {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1000px) {
  .reasons__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.reasons__img {
  margin: 0 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1000px) {
  .reasons__img {
    margin: 0;
  }
}
@media (max-width: 570px) {
  .reasons__img img {
    width: 85%;
    height: 85 .reasons__img img;
  }
}
.reasons__text {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1000px) {
  .reasons__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.reasons__title {
  /* Style for "Why choose" */
  width: 229px;
  height: 33px;
  color: #4f4f4f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  font-weight: 300;
  min-width: 255px;
  margin: 0 0 20px 0;
}
.reasons__list {
  margin: 0 0 0 5%;
}
.reasons__unit {
  color: #8a8888;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 20px 0;
  white-space: nowrap;
}
@media (max-width: 1232px) {
  .reasons__unit {
    white-space: normal;
  }
}
.reasons__unit::before {
  content: url(/img/reasons/reasons2.png);
  margin: 0 10px 0 0;
  position: relative;
  top: 4px;
}

.login {
  border-top: 2px solid #e4e4e4;
}
.login__container {
  min-height: 150px;
  padding: 0 10px;
  margin-top: 23px;
}
.login__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}
@media (max-width: 1270px) {
  .login__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
  }
}
.member__body {
  background-color: #e67624;
  padding: 22px;
  border-radius: 3px;
}
.member__title {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
  margin: 0 0 15px 0;
}
.member__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
}
@media (max-width: 575px) {
  .member__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.member__name {
  color: #4f4f4f;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  padding: 0 0 0 10px;
}
.member__password {
  color: #4f4f4f;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  padding: 0 0 0 10px;
}
.member__button {
  background-color: #444444;
  padding: 10px 18px;
  white-space: nowrap;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.member__button:hover {
  background-color: #272727;
}
.member__button:active {
  background-color: #000000;
}

.subscribe__body {
  background-color: #01d4f3;
  padding: 22px;
  border-radius: 3px;
}
.subscribe__title {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
  margin: 0 0 15px 0;
  white-space: nowrap;
}
@media (max-width: 575px) {
  .subscribe__title {
    white-space: normal;
  }
}
.subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (max-width: 575px) {
  .subscribe__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.subscribe__email {
  color: #4f4f4f;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  padding: 0 90px 0 10px;
}
@media (max-width: 575px) {
  .subscribe__email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 0 0 0 10px;
  }
}
.subscribe__button {
  background-color: #029bb1;
  padding: 10px 20px;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.subscribe__button:hover {
  background-color: #19899b;
}
.subscribe__button:active {
  background-color: #226069;
}

.footer {
  background-color: #2a2628;
  padding: 0 0 20px 0;
}
.footer__container {
  min-height: 280px;
  padding: 0 10px;
}
.footer__row {
  padding: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 90px;
}
@media (max-width: 1020px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1020px) {
  .footer__row {
    gap: 60px;
  }
}
.footer__title {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 180%;
}
.footer__unit {
  opacity: 0.5;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 170%;
  min-width: 100px;
}
.footer__long {
  max-width: 320px;
}
@media (max-width: 661px) {
  .footer__test {
    margin: -20px 0 0 0;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.footer__copyright {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 40px 0 0 0;
}
@media (max-width: 1020px) {
  .footer__copyright {
    margin: -10px 0 0 0;
  }
}
.footer__logo {
  opacity: 0.22;
  color: #ffffff;
  font-family: "Mrs Eaves";
  font-size: 119px;
  font-weight: 400;
  line-height: 32.99px;
  margin: 0 0 60px 0;
}
.footer__copytext {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 13px;
  font-weight: 400;
  line-height: 170%;
}
@media (max-width: 951px) {
  .footer__copytext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}