@import "_nullstyle";

@font-face {
    font-family: "Mrs Eaves";
    src: local("Mrs Eaves Italic"), local("/fonts/Mrs-Eaves-Italic"), url("/fonts/MrsEavesItalic.woff2") format("woff2"),
        url("/fonts/MrsEavesItalic.woff") format("woff"), url("/fonts/MrsEavesItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    //     [display: flex;
    //     flex-direction: column;] - если надо прижать футер
}

/*-----------------------------------------------------------------*/
.container {
    max-width: 1000px;
    margin: 0px auto;

    //     padding: 0 15px;
    //     box-sizing: content-box;
}

.ibg {
    position: relative;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

// &__image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     img {
//         @media (max-width: px) {
//             object-position: right;
//         }
//     }
// }

/*-----------------------------------------------------------------*/

//@media (max-width: px) {
//      max-width: px;
//  }

/*-----------------------------------------------------------------*/

.header {
    position: relative;
    &__container {
        padding: 65px 10px 0 10px;
        @media (max-width: 800px) {
            padding-top: 35px;
        }
        height: 490px;
        position: relative;
        z-index: 5;
        @media (max-width: 800px) {
            height: inherit;
        }
    }

    &__head {
        margin: 0 0 90px 0;
        @media (max-width: 800px) {
            margin: 50px;
        }
    }

    &__content {
    }

    &__row {
        display: flex;
        justify-content: space-between;
        max-width: 870px;
        @media (max-width: 800px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__img {
        @media (max-width: 430px) {
            display: flex;
            justify-content: center;
        }
        img {
            @media (max-width: 430px) {
                width: 80%;
                height: 80%;
            }
        }
    }

    &__text {
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        color: #ffffff;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 65px;
        font-weight: 300;
        @media (max-width: 800px) {
            text-align: left;
        }
        @media (max-width: 430px) {
            font-size: 42px;
        }
    }

    &__subtitle {
        color: #ffffff;
        font-size: 45px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-weight: 200;
        margin: 0 0 30px 0;
        @media (max-width: 800px) {
            margin: 0 0 20px 0;
        }
        @media (max-width: 430px) {
            font-size: 30px;
            text-align: center;
        }
    }

    &__button {
        color: #ffffff;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 23px;
        font-weight: 300;
        padding: 8px 15px;
        background-color: #1c6442;
        box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.4);
        &:active {
            background-color: #2a523f;
        }
        &:hover {
            background-color: #24573f;
        }
        @media (max-width: 800px) {
            align-self: center;
            margin: 0 0 20px 0;
        }
    }

    &__ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__arrows {
        position: absolute;
        display: flex;
        left: -150px;
        top: 250px;
        @media (max-width: 1315px) {
            left: -70px;
        }
    }

    &__arrow1 {
        margin: 0 1200px 0 0;
        @media (max-width: 1315px) {
            margin: 0 1020px 0 0;
        }
    }

    &__arrow2 {
    }
}
.head {
    &__nav {
        display: flex;
        justify-content: space-between;
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        opacity: 0.68;
        color: #ffffff;
        font-family: "Mrs Eaves";
        font-size: 119px;
        font-weight: 400;
        line-height: 28%;
        font-style: italic;
        @media (max-width: 800px) {
            margin: 0 0 50px 0;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        width: 500px;
        @media (max-width: 800px) {
            width: 400px;
        }
        @media (max-width: 430px) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }

    &__unit {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23px;
        font-weight: 300;
        &:active {
            color: #969696;
        }

        &:not(:last-child) {
            // margin: 0 50px 0 0;
        }
    }
}

.options {
    &__container {
        min-height: 330px;
        padding: 60px 10px 0 10px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        @media (max-width: 995px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 60px 15px 50px;
        &:first-child {
            padding-left: 30px;
            @media (max-width: 493px) {
                padding-left: 60px;
            }
            @media (max-width: 995px) {
                order: 1;
            }
        }
        &:last-child {
            padding-right: 30px;
            @media (max-width: 493px) {
                padding-right: 60px;
            }

            @media (max-width: 995px) {
                order: 2;
            }
        }
        &:nth-child(2) {
            @media (max-width: 995px) {
                order: 4;
                margin-top: 10px;
                @media (max-width: 995px) {
                    border-bottom: 2px solid #e4e4e4;
                }
            }
        }
        &:nth-child(3) {
            @media (max-width: 995px) {
                order: 3;
            }
        }
        &:not(:nth-child(2)) {
            border-bottom: 2px solid #e4e4e4;
            @media (max-width: 995px) {
                border-bottom: 0px;
            }
        }
    }

    &__img {
        margin: 0 0 18px 0;
        @media (max-width: 552px) {
            img {
                height: 90%;
                // width: 90%;
            }
        }
    }

    &__text {
        color: #676666;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 27px;
        font-weight: 300;
        text-align: center;
        line-height: 110%;
        white-space: nowrap;
        span {
            font-size: 23px;
            text-align: center;
        }
        max-width: 300px;
    }

    &__selected {
        border-top: 2px solid #e4e4e4;
        border-right: 2px solid #e4e4e4;
        border-left: 2px solid #e4e4e4;
    }
    &__selected-text {
        font-weight: 400;
    }
}

.description {
    &__container {
        padding: 0 10px;
    }

    &__body {
        border-bottom: 2px solid #e4e4e4;
        border-right: 2px solid #e4e4e4;
        border-left: 2px solid #e4e4e4;
        // padding-left: -10px;
    }

    &__img {
        display: flex;
        justify-content: center;
        padding: 50px 0 0 0;
        margin: 0 0 10px 0;
        img {
            @media (max-width: 768px) {
                width: 80%;
                height: 80%;
            }
        }
    }

    &__text {
    }

    &__titlecenter {
        display: flex;
        justify-content: center;
        margin-left: -260px;
        @media (max-width: 906px) {
            margin-left: 9px;
            justify-content: flex-start;
        }
    }

    &__title {
        color: #4f4f4f;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 39px;
        font-weight: 100;
        margin: 10px 0 25px 0;
        // max-width: 850px;
    }

    &__maintext {
        color: #818181;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        max-width: 850px;
        margin: 0 10px 60px 10px;
        @media (max-width: 552px) {
            font-size: 22px;
            margin-bottom: 40px;
        }
    }
    &__maintextcenter {
        display: flex;
        justify-content: center;
    }
}

.reasons {
    &__container {
        min-height: 390px;
        padding: 0 10px;
    }

    &__body {
    }

    &__row {
        margin: 20px 0 0 0;
        display: flex;
        @media (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        margin: 0 40px 0 0;
        display: flex;
        justify-content: center;
        @media (max-width: 1000px) {
            margin: 0;
        }
        img {
            @media (max-width: 570px) {
                width: 85%;
                height: 85&;
            }
        }
    }

    &__text {
        margin: 30px 0 0 0;
        display: flex;
        flex-direction: column;
        @media (max-width: 1000px) {
            align-items: center;
        }
    }

    &__title {
        /* Style for "Why choose" */
        width: 229px;
        height: 33px;
        color: #4f4f4f;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 33px;
        font-weight: 300;
        min-width: 255px;
        margin: 0 0 20px 0;
    }

    &__list {
        margin: 0 0 0 5%;
    }

    &__unit {
        color: #8a8888;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;

        margin: 0 0 20px 0;
        white-space: nowrap;
        @media (max-width: 1232px) {
            white-space: normal;
        }
        &::before {
            content: url(/img/reasons/reasons2.png);
            margin: 0 10px 0 0;
            position: relative;
            top: 4px;
        }
    }
}

.login {
    border-top: 2px solid #e4e4e4;
    &__container {
        min-height: 150px;
        padding: 0 10px;
        margin-top: 23px;
    }

    &__body {
    }

    &__row {
        display: flex;
        gap: 60px;
        margin-bottom: 20px;
        @media (max-width: 1270px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;
        }
    }

    &__member {
    }

    &__subscribe {
    }
}

.member {
    &__body {
        background-color: #e67624;
        padding: 22px;
        border-radius: 3px;
    }

    &__title {
        color: #ffffff;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 28px;
        font-weight: 300;
        line-height: 21px;
        margin: 0 0 15px 0;
    }

    &__input {
        display: flex;
        gap: 11px;
        @media (max-width: 575px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__name {
        color: #4f4f4f;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        padding: 0 0 0 10px;
    }

    &__password {
        color: #4f4f4f;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        padding: 0 0 0 10px;
    }

    &__button {
        background-color: #444444;
        padding: 10px 18px;
        white-space: nowrap;
        color: #ffffff;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        &:hover {
            background-color: #272727;
        }
        &:active {
            background-color: #000000;
        }
    }
}
.subscribe {
    &__body {
        background-color: #01d4f3;
        padding: 22px;
        border-radius: 3px;
    }

    &__title {
        color: #ffffff;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 28px;
        font-weight: 300;
        line-height: 21px;
        margin: 0 0 15px 0;
        white-space: nowrap;
        @media (max-width: 575px) {
            white-space: normal;
        }
    }

    &__input {
        display: flex;
        gap: 50px;
        @media (max-width: 575px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__email {
        color: #4f4f4f;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        padding: 0 90px 0 10px;
        @media (max-width: 575px) {
            flex-direction: column;
            gap: 20px;
            padding: 0 0 0 10px;
        }
    }

    &__button {
        background-color: #029bb1;
        padding: 10px 20px;
        color: #ffffff;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        &:hover {
            background-color: #19899b;
        }
        &:active {
            background-color: #226069;
        }
    }
}

.footer {
    background-color: #2a2628;
    padding: 0 0 20px 0;
    &__container {
        min-height: 280px;
        padding: 0 10px;
    }

    &__row {
        padding: 30px 0 0 0;
        display: flex;
        justify-content: center;
        gap: 90px;
        @media (max-width: 1020px) {
            flex-wrap: wrap;
        }
        @media (max-width: 1020px) {
            gap: 60px;
        }
    }

    &__about {
    }

    &__title {
        color: #ffffff;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 180%;
    }

    &__unit {
        opacity: 0.5;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 170%;
        min-width: 100px;
    }

    &__long {
        max-width: 320px;
    }

    &__us {
    }

    &__test {
        @media (max-width: 661px) {
            margin: -20px 0 0 0;
            justify-self: center;
            align-self: center;
        }
    }

    &__copyright {
        align-self: center;
        margin: 40px 0 0 0;
        @media (max-width: 1020px) {
            margin: -10px 0 0 0;
        }
    }

    &__logo {
        opacity: 0.22;
        color: #ffffff;
        font-family: "Mrs Eaves";
        font-size: 119px;
        font-weight: 400;
        line-height: 32.99px;
        margin: 0 0 60px 0;
    }

    &__copytext {
        opacity: 0.8;
        color: #ffffff;
        font-family: "Arial MT";
        font-size: 13px;
        font-weight: 400;
        line-height: 170%;
        @media (max-width: 951px) {
            display: flex;
            justify-content: center;
        }
    }
}
